Library/AnnotationManager
Library/ArtifactDB
Library/ArtifactDB-lock
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/EditorInstance.json
Library/EditorOnlyScriptingSettings.json
Library/EditorOnlyVirtualTextureState.json
Library/EditorUserBuildSettings.asset
Library/ilpp.pid
Library/InspectorExpandedItems.asset
Library/LibraryFormatVersion.txt
Library/MonoManager.asset
Library/SceneVisibilityState.asset
Library/ScriptMapper
Library/ShaderCache.db
Library/SourceAssetDB
Library/SourceAssetDB-lock
Library/SpriteAtlasDatabase.asset
Library/Style.catalog
Library/Artifacts/01/018a238197b03197f6b2657ccaec8dee
Library/Artifacts/01/01cb1d6a3bab8f241e506793a6d221f2
Library/Artifacts/02/02f9a3910a02f449cf2477ec6d0ff0d1
Library/Artifacts/0b/0b0ee1bc9213bd00c8cc3987df8f2b27
Library/Artifacts/0c/0c76c59bb5e964bd8ffe6e9eddcfc6df
Library/Artifacts/18/180ab4e996764ecfee0831bf4ce0cffe
Library/Artifacts/26/26f3bdc1dc9413770e218c4a261d42bc
Library/Artifacts/2a/2ab3a46d6aa958ae140f1dfae9df7576
Library/Artifacts/2e/2eab08fe9ae42759ad99498a3db9edf1
Library/Artifacts/39/398b0f0e0a58bb20c64dddd14a3a8df8
Library/Artifacts/40/4098f2aabd2300f67b5cad0284ef060e
Library/Artifacts/48/48d7731a5d7e647265d43d3eaa29cd26
Library/Artifacts/52/52072345f0a7843f730a4f103d269e4c
Library/Artifacts/5b/5b1981c223ffee1b2922bdfc491c854f
Library/Artifacts/62/6224350b5c0004f76437410478d87946
Library/Artifacts/62/62fd9193a33fb7a0a0fc2753579e53de
Library/Artifacts/67/6737d971c6c9129df70900c033f635c1
Library/Artifacts/70/70e3f9163645b1f4d28ae6553e465bef
Library/Artifacts/76/767e6799bd1bf365191e724b4fca0b39
Library/Artifacts/7c/7c23293ec5f3bd85857ff53ba46908e2
Library/Artifacts/86/862370894e9f9390b3b6c2d4e1e32511
Library/Artifacts/88/880f38e5a887b8f2edd1d3edf97cbd74
Library/Artifacts/8b/8bfc0eb088de8f0d1e6551347cbd6557
Library/Artifacts/8c/8cd4e49ec5254b22176d1f4a0818ef37
Library/Artifacts/a1/a1bdf01c5abb2a9276df9a80d42423b8
Library/Artifacts/ba/ba08c2e57138a4876785a772ed8de7fc
Library/Artifacts/bb/bb8d7faec11deefde2d4cb9211b3d45e
Library/Artifacts/c3/c336c4ad649e21d40ebc1a66c09c2aad
Library/Artifacts/d7/d758c16c2bd5d81cfdc8a700abdf6c95
Library/Artifacts/d8/d88befda8c0b2a1bed7ad12be7d195da
Library/Artifacts/d9/d9673780b23644f76c6b1a97827fb989
Library/Artifacts/d9/d96eb2ac23d258e4c1eb41473317630c
Library/Artifacts/dc/dc8768b2a77ecdeb52e664b0a0d1f974
Library/Bee/1900b0aE.dag
Library/Bee/1900b0aE.dag.json
Library/Bee/1900b0aE.dag.outputdata
Library/Bee/1900b0aE.dag.payloads
Library/Bee/1900b0aE.dag_derived
Library/Bee/1900b0aE.dag_fsmtime
Library/Bee/1900b0aE-inputdata.json
Library/Bee/backend2.traceevents
Library/Bee/bee_backend.info
Library/Bee/buildprogram0.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/PackageCache/com.unity.modules.ai@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.ai@1.0.0/.icon.png.meta
Library/PackageCache/com.unity.modules.ai@1.0.0/package.json
Library/PackageCache/com.unity.modules.ai@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.ai@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.ai@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.androidjni@1.0.0/package.json
Library/PackageCache/com.unity.modules.androidjni@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.androidjni@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.androidjni@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.animation@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.animation@1.0.0/.icon.png.meta
Library/PackageCache/com.unity.modules.animation@1.0.0/package.json
Library/PackageCache/com.unity.modules.animation@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.animation@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.animation@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.assetbundle@1.0.0/package.json
Library/PackageCache/com.unity.modules.assetbundle@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.assetbundle@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.assetbundle@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.audio@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.audio@1.0.0/.icon.png.meta
Library/PackageCache/com.unity.modules.audio@1.0.0/package.json
Library/PackageCache/com.unity.modules.audio@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.audio@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.audio@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.cloth@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.cloth@1.0.0/.icon.png.meta
Library/PackageCache/com.unity.modules.cloth@1.0.0/package.json
Library/PackageCache/com.unity.modules.cloth@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.cloth@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.cloth@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.director@1.0.0/package.json
Library/PackageCache/com.unity.modules.director@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.director@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.director@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.imageconversion@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.imageconversion@1.0.0/.icon.png.meta
Library/PackageCache/com.unity.modules.imageconversion@1.0.0/package.json
Library/PackageCache/com.unity.modules.imageconversion@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.imageconversion@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.imageconversion@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.imgui@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.imgui@1.0.0/.icon.png.meta
Library/PackageCache/com.unity.modules.imgui@1.0.0/package.json
Library/PackageCache/com.unity.modules.imgui@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.imgui@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.imgui@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.jsonserialize@1.0.0/package.json
Library/PackageCache/com.unity.modules.jsonserialize@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.jsonserialize@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.jsonserialize@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.particlesystem@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.particlesystem@1.0.0/.icon.png.meta
Library/PackageCache/com.unity.modules.particlesystem@1.0.0/package.json
Library/PackageCache/com.unity.modules.particlesystem@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.particlesystem@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.particlesystem@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.physics@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.physics@1.0.0/.icon.png.meta
Library/PackageCache/com.unity.modules.physics@1.0.0/package.json
Library/PackageCache/com.unity.modules.physics@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.physics@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.physics@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.physics2d@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.physics2d@1.0.0/.icon.png.meta
Library/PackageCache/com.unity.modules.physics2d@1.0.0/package.json
Library/PackageCache/com.unity.modules.physics2d@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.physics2d@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.physics2d@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.screencapture@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.screencapture@1.0.0/.icon.png.meta
Library/PackageCache/com.unity.modules.screencapture@1.0.0/package.json
Library/PackageCache/com.unity.modules.screencapture@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.screencapture@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.screencapture@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.subsystems@1.0.0/package.json
Library/PackageCache/com.unity.modules.subsystems@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.subsystems@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.subsystems@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.terrain@1.0.0/package.json
Library/PackageCache/com.unity.modules.terrain@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.terrain@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.terrain@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.terrainphysics@1.0.0/package.json
Library/PackageCache/com.unity.modules.terrainphysics@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.terrainphysics@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.terrainphysics@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.tilemap@1.0.0/package.json
Library/PackageCache/com.unity.modules.tilemap@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.tilemap@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.tilemap@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.ui@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.ui@1.0.0/.icon.png.meta
Library/PackageCache/com.unity.modules.ui@1.0.0/package.json
Library/PackageCache/com.unity.modules.ui@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.ui@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.ui@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.uielements@1.0.0/package.json
Library/PackageCache/com.unity.modules.uielements@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.uielements@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.uielements@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.umbra@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.umbra@1.0.0/.icon.png.meta
Library/PackageCache/com.unity.modules.umbra@1.0.0/package.json
Library/PackageCache/com.unity.modules.umbra@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.umbra@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.umbra@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.unityanalytics@1.0.0/package.json
Library/PackageCache/com.unity.modules.unityanalytics@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.unityanalytics@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.unityanalytics@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.unitywebrequest@1.0.0/package.json
Library/PackageCache/com.unity.modules.unitywebrequest@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.unitywebrequest@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.unitywebrequest@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.unitywebrequestassetbundle@1.0.0/package.json
Library/PackageCache/com.unity.modules.unitywebrequestassetbundle@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.unitywebrequestassetbundle@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.unitywebrequestassetbundle@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.unitywebrequestaudio@1.0.0/package.json
Library/PackageCache/com.unity.modules.unitywebrequestaudio@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.unitywebrequestaudio@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.unitywebrequestaudio@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.unitywebrequesttexture@1.0.0/package.json
Library/PackageCache/com.unity.modules.unitywebrequesttexture@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.unitywebrequesttexture@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.unitywebrequesttexture@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.unitywebrequestwww@1.0.0/package.json
Library/PackageCache/com.unity.modules.unitywebrequestwww@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.unitywebrequestwww@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.unitywebrequestwww@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.vehicles@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.vehicles@1.0.0/.icon.png.meta
Library/PackageCache/com.unity.modules.vehicles@1.0.0/package.json
Library/PackageCache/com.unity.modules.vehicles@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.vehicles@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.vehicles@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.video@1.0.0/package.json
Library/PackageCache/com.unity.modules.video@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.video@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.video@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.vr@1.0.0/package.json
Library/PackageCache/com.unity.modules.vr@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.vr@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.vr@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.wind@1.0.0/.icon.png
Library/PackageCache/com.unity.modules.wind@1.0.0/.icon.png.meta
Library/PackageCache/com.unity.modules.wind@1.0.0/package.json
Library/PackageCache/com.unity.modules.wind@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.wind@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.wind@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageCache/com.unity.modules.xr@1.0.0/package.json
Library/PackageCache/com.unity.modules.xr@1.0.0/package.json.meta
Library/PackageCache/com.unity.modules.xr@1.0.0/package.ModuleCompilationTrigger
Library/PackageCache/com.unity.modules.xr@1.0.0/package.ModuleCompilationTrigger.meta
Library/PackageManager/ProjectCache
Library/PackageManager/ProjectCache.md5
Library/Search/propertyAliases.db
Library/Search/propertyAliases.db.st
Library/Search/propertyDatabase.db
Library/Search/propertyDatabase.db.st
Library/Search/transactions.db
Library/ShaderCache/EditorEncounteredVariants
Library/ShaderCache/builtin/unity_builtin_extra0000/00/02797770495b4b8d8df3e442651825b9.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/13e998b2a656519ecaada050f71762cd.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/151abeaecf51b484ca93e52ad184c251.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/194f5f49d4fadc19aad526417c03c95d.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/42a0627bcdb9b051e30f821e62776310.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/42eb696f0aebebe2020ee527c8a5e0fd.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/45bad9c3c2f49833ac6d3b7f0638ce5c.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/49fe01c8f8231dbbba93325d584d3f23.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/4da871e307fb9cf6e0ed419ebf3673c8.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/520fde6dfa6185d4dc93956e25aa8b78.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/62c84ad8926389bd2eec6e100d028c5e.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/66713bd092cb25e4b769037ab58b0478.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/69ada409181a863b85e12ea089ff56f0.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/84bc4b56765e97b6e1ed6aad760dcac5.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/88f787887243ff7aa062fb089a4039a8.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/8d594e3b94b62a3d41023310a23a29ec.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/9165e1ee22b93aa4a2a7ca6ae2d45ed4.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/9291797d3075c9d177cec5532203e2f8.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/9314a2b163c922d42f6e660763d0a065.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/980c51fa74618dc7e5c2d35ba8a00396.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/9aa8c1906e641ac01ee2e0e96780b8f5.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/9c3a5db94181937fc87c562ff093b091.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/9cc111d1e6029c75228c78c523fd2f2b.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/a67969d0b64045e6242c498aeefd43f1.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/a97244f6ad111015cc4b0709a1121b4d.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/ad247fd681b263f98504c0fdb6ae105c.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/d470ea0a4b3ba3d390e2e134da405d56.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/d4b60ac3020550d0730e2491b56a5180.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/dc3a5b1f6644f602bbf7a3be7a321e3d.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/e832514a44fb8cc2fd40c3a5de4934fd.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/f0704321044558a1b010b3dbbd20026b.bin
Library/ShaderCache/builtin/unity_builtin_extra0000/00/feb7c222c14fb44bbd5bea9695cf452a.bin
Library/StateCache/LayerSettings/9e/9ecc5c3c162a7aba29bafa64c8b94b7c.json
Logs/Packages-Update.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Packages/manifest.json
Packages/packages-lock.json
Temp/FSTimeGet-9292c99b7630cac49bca9a0d9d9b40a0
Temp/UnityLockfile
Temp/workerlic
UserSettings/EditorUserSettings.asset
UserSettings/Search.settings
